@font-face {
    font-family: 'Cairo';
    font-weight: 300;
    src: url(../Fonts/Cairo/static/Cairo-Regular.ttf);
}
@font-face {
    font-family: 'Cairo';
    font-weight: 700;
    src: url(../Fonts/Cairo/static/Cairo-Bold.ttf);
}
@font-face {
    font-family: 'Rubik';
    font-weight: 300;
    src: url(../Fonts/Rubik/static/Rubik-Regular.ttf);
}
@font-face {
    font-family: 'Rubik';
    font-weight: 700;
    src: url(../Fonts/Rubik/static/Rubik-Bold.ttf);
}
@font-face {
    font-family: 'Exo';
    font-weight: 300;
    src: url(../Fonts/Exo/static/Exo2-Regular.ttf);
}
@font-face {
    font-family: 'Exo';
    font-weight: 700;
    src: url(../Fonts/Exo/static/Exo2-Bold.ttf);
}
/* # Section Name Fonts */
@font-face {
    font-family: 'Saira';
    font-weight: 700;
    src: url(../Fonts/Saira/static/Saira-Bold.ttf);
}
@font-face {
    font-family: 'Spacemono';
    font-weight: 700;
    src: url(../Fonts/Space_Mono/SpaceMono-Bold.ttf);
}
@font-face {
    font-family: 'Amatic';
    font-weight: 700;
    src: url(../Fonts/Amatic_SC/AmaticSC-Bold.ttf);
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    background-color: var(--rich-black);
}
body::-webkit-scrollbar {
    width: 6px;
} 
body::-webkit-scrollbar-track {
    background: var(--rich-black);
}
body::-webkit-scrollbar-thumb {
    background-color: #3395ff;
}
::selection {
    background-color: #3396ffb4;
    color: white;
}

:root {
    --oxford-blue: #0a1128ff;
    --penn-blue: #001f54ff;
    --indigo-dye: #034078ff;
    --cerulean: #1282a2ff;
    --lavender: #c8d6efff;    
    --alice-white: #edf2fbff;    
    --white: #fefcfbff;
    --french-rose: #f44174ff;
    --sgbus-green: #7ddf64ff;
    --non-photo-blue: #59d8ff;
    --box-shadow: #ffffff10;
}

.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.col {
    flex-direction: column;
}
.center {
    justify-content: center;
    align-items: center;
}
.between {
    justify-content: space-between;
}
.evenly {
    justify-content: space-evenly;
}
.around {
    justify-content: space-around;
}
.gap {
    gap: 15px;
}

.off {
    display: none !important;
}

.img img {
    width: 100%;
}

.box {
    width: 425px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 7px 20px #1234564b;
}

p {
    text-transform: capitalize;
}
.title {
    font-family: 'Exo', 'Rubik', 'Cairo';
    font-weight: 700;
    font-size: 150px;
    color: var(--oxford-blue);
    transition: 0.2s 0s linear;
    animation: fade-in 0.7s 0s forwards ease-in-out;
}
.align {
    font-family: 'Rubik', 'Exo', 'Cairo';
    font-weight: 700;
    font-size: 24px;
    color: var(--oxford-blue);
    transition: 0.2s 0s linear;
    animation: fade-in 0.7s 0s forwards ease-in-out;
}
.align-2 {
    font-family: 'Cairo', 'Exo', 'Rubik';
    font-weight: 700;
    font-size: 42px;
    color: var(--indigo-dye);
    transition: 0.2s 0s linear;
    animation: fade-in 0.7s 0s forwards ease-in-out;
}
.text {
    font-family: 'Rubik', 'Exo', 'Cairo';
    font-weight: 100;
    font-size: 22px;
    color: var(--oxford-blue);
    transition: 0.2s 0s linear;
}
.links {
    text-decoration: none;
    font-family: 'Cairo', 'Exo', 'Rubik';
    font-weight: 900;
    font-size: 22px;
    color: var(--penn-blue);
    transition: 0.2s 0s linear;
}
.links:hover {
    text-decoration: solid;
}
hr {
    border: 1px #dee2e6 solid;
}

.transition {
    transition: 0.2s 0s ease-in-out;
}
/* -------------------------------------------------- */
/* Navigation Wide */
nav {
    width: 100%;
    align-items: flex-start;
    padding: 20px;
    backdrop-filter: blur(100px);
}
nav .img {
    width: 50px;
    margin-right: 25px;
}
nav .img:hover {
    scale: 1.1;
}
nav .img:active {
    scale: 0.95;
}
nav .links {
    margin: 0 10px;
}

.drop-box {
    position: relative;
}
.drop-box:hover .drop-menu, .drop-box:focus-within .drop-menu, .drop-box:focus-visible .drop-menu, .drop-box:active .drop-menu {
    display: flex;
}
.drop-menu {
    width: 150px;
    display: none;
    position: absolute;
    top: 35px;
    padding: 5px;
    background-color: var(--oxford-blue);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    animation: fade-in 0.2s 0s forwards ease-in-out;
}

#nav-collapse-box {
    align-items: center;
}
#nav-collapse {
    width: 70px;
    display: none;
    padding: 10px 20px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}
#nav-collapse svg {
    width: 100%;
    height: 100%;
}

.mode-btn {
    width: 40px;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.05;
}
.mode-btn:hover {
    background-color: #11224415;
}
.mode-btn:active {
    scale: 0.8;
}
.mode-btn .img img {
    margin: 0;
}
#light-mode {
    display: none;
    animation: LD-Mode 0.5s forwards ease-in-out;
}
#dark-mode {
    display: block;
    animation: LD-Mode 0.5s forwards ease-in-out;
}
/* -------------------------------------------------- */
/* Mains */
.home {
    width: 100%;
    flex-wrap: wrap;
}
.generator, .wordlist, .passquest {
    width: 50%;
    padding: 20px;
    animation: get-in 0.5s 0s forwards ease-in-out;
}
/* -------------------------------------------------- */
/* Titles */
.title-card {
    width: 50%;
    position: relative;
    padding: 30px;
}
.section-option {
    justify-content: flex-start;
    align-items: center;
}
#section-name {
    font-size: 42px;
    transition: 0.2s 0s ease-in-out;
}
#close-section {
    background-color: transparent;
    color: var(--oxford-blue);
    font-size: 52px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s 0s ease-in-out;
}
#close-section:active {
    scale: 0.9;
}
/* -------------------------------------------------- */
/* Cards */
.cards-box {
    width: 50%;
    gap: 30px;
    padding: 30px;
}

.card {
    width: 95%;
    max-height: 210px;
    background-color: var(--alice-white);
    border-radius: 15px;
    box-shadow: 0px 7px 100px var(--box-shadow);
    overflow: hidden;
    animation: fade-in 0.5s 0s forwards ease-in-out;
}
.card .text {
    font-size: 18px;
}

.card-data {
    width: 50%;
    gap: 10px;
    padding: 20px;
}

.card .img {
    width: 50%;
    height: 100%;
    position: relative;
}
.card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.btn {
    min-width: 150px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s 0s ease-in-out;
}
.btn:hover {
    background-color: var(--alice-white) !important;
}
.btn:active {
    scale: 0.9;
}
#Generator {
    background-color: var(--french-rose);
    color: var(--white);
}
#Generator:hover {
    color: var(--oxford-blue);
}
#Wordlist {
    background-color: var(--sgbus-green);
    color: var(--white);
}
#Wordlist:hover {
    color: var(--oxford-blue);
}
#PassQuest {
    background-color: var(--non-photo-blue);
    color: var(--white);
}
#PassQuest:hover {
    color: var(--oxford-blue);
}
/* -------------------------------------------------- */
/* Generator */
.check-box {
    width: 180px;
    height: 180px;
    background-color: var(--alice-white);
    font-size: 32px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s 0s ease-in-out;
}
.check-box:hover {
    background-color: #d5e3fd;
}
.check-box:active {
    scale: 0.9;
}
.check-box.active {
    background-color: #3395ff;
    color: var(--alice-white);
}

#range-num {
    width: 10%;
}
.slider {
    width: 90%;
    height: 30px;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
}
.slider .level {
    appearance: none;
    width: 95%;
    height: 8px;
    background-color: var(--oxford-blue);
    overflow: hidden;
    border-radius: 999px;
    transition: 0.1s 0s ease-in-out;
    cursor: pointer;
}
.slider .level::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    -webkit-box-shadow: -200px 0 0 200px #3395ff;
    box-shadow: -200px 0 0 200px #3395ff;
}
.slider:hover .level {
    height: 16px;
}

#g-pass-input {
    width: 95%;
    height: 50px;
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px var(--oxford-blue) solid;
}
.btn-2 {
    padding: 10px 17px;
    background-color: #3395ff;
    color: var(--alice-white);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s 0s ease-in-out;
}
.btn-2:hover {
    background-color: #007bff;
}
.btn-2:active {
    scale: 0.95;
}

.save-box {
    width: 420px;
    padding: 10px 0px;
    background-color: var(--alice-white);
    border-radius: 10px;
    box-shadow: 0px 7px 1000px var(--box-shadow);
    animation: get-in 0.7s 0s forwards ease-in-out;
}
.modal .gap {
    gap: 5px;
}
.save-box .align {
    margin-left: 15px;
    font-family: 'Cairo', 'Exo', 'Rubik';
    color: var(--oxford-blue) !important;
}
.save-box .text {
    color: var(--oxford-blue);
}
.saving-box-input {
    padding: 10px;
}
.input {
    padding: 5px;
    border: 1px #124fff50 solid;
    border-radius: 5px;
}
.input:focus-within {
    border: 1px #3395ff solid;
    outline: 3px #3396ff5d solid;
}
#saving-alert {
    height: 30px;
}
.save-box-btn {
    width: 100%;
    justify-content: flex-end;
    padding-right: 10px;
}
.save-box-btn .btn-2 {
    color: var(--alice-white);
}
.save-box-btn .btn-2:hover {
    background-color: #007bff;
}
/* -------------------------------------------------- */
/* Wordlist */
.wordlist .gap {
    gap: 10px;
}
#wordlist-input {
    width: 95%;
    padding: 10px 20px;
    background-color: var(--lavender);
    outline: none;
    border: none;
    border-radius: 5px;
}
.wordlist-range-box {
    width: 100%;
}
.wordlist-range-box .text {
    margin-left: 5px;
}
#wordlist-range-min, #wordlist-range-max {
    width: 100px;
    margin-left: 5px;
    padding: 10px 20px;
    background-color: var(--lavender);
    outline: none;
    border: none;
    border-radius: 5px;
}

.wordlist-download-live {
    width: 100%;
}
#wordlist-download-percent {
    width: 15%;
}
.load {
    width: 85%;
    height: 10px;
    position: relative;
    background-color: var(--alice-white);
    border-radius: 999px;
    overflow: hidden;
}
.load-slider {
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: var(--oxford-blue);
}
/* -------------------------------------------------- */
#passquest-input {
    width: 95%;
    padding: 10px 20px;
    background-color: var(--lavender);
    outline: none;
    border: none;
    border-radius: 5px;
}
#passquest-quests {
    overflow: auto;
    scroll-snap-type: y mandatory;
}
#passquest-quests .box {
    scroll-snap-align: start;
}
.active {
    background-color: #3395ff;
}
.active .align, .active .text {
    color: var(--white);
}

.passquest .box .img {
    width: 33.33%;
}
/* -------------------------------------------------- */
/* Team Section */
.team {
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 30px;
}
.team .box {
    width: fit-content;
    min-width: 320px;
    gap: 20px;
    animation: get-in 0.7s 0s forwards ease-in-out;
}
.team .box .img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    transition: 0.15s 0s ease-in-out;
}
.team .box .img:hover {
    scale: 1.05;
    filter: saturate(1.2);
}
.team .box .img:active {
    scale: 1;
}

.team .box hr {
    min-height: 100%;
    border: 2px var(--box-shadow) solid;
    border-radius: 999px;
    transition: 0.2s 0s ease-in-out;
}
.team .box:hover hr {
    border: 2px #ffffff99 solid;
}

.icons {
    width: 100%;
    gap: 10px;
}
.icons svg {
    font-size: 72px;
}
#temrevil, #eslam {
    height: fit-content;
    position: relative;
    top: 200px;
}
/* -------------------------------------------------- */
/* Modals */
.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #091330b4;
}
/* -------------------------------------------------- */
/* Responsive Yard */
@media (min-width: 1025px) and (max-width: 1425px) {
    .title {
        font-size: 105px;
    }

    .card .text {
        font-size: 15px;
    }
}
@media (min-width: 481px) and (max-width: 1024px) {
    .title-card, .generator, .wordlist, .passquest {
        width: 100%;
    }
    .cards-box {
        width: 100%;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: center;
    }
    .card {
        width: fit-content;
    }

    /* Team Media */
    .team {
        justify-content: center;
        padding: 20px;
    }
    .team .box {
        max-width: 300px;
        min-width: 300px;
        flex-direction: column;
        align-items: center;
    }
    .team .box .img {
        width: 220px;
        height: 220px;
    }
    .team hr {
        width: 100%;
    }
    .team .box .align-2 {
        font-size: 30px;
    }
    #temrevil, #eslam {
        top: 0;
    }
}
@media (max-width: 734px) {
    .title {
        font-size: 95px;
    }
    
    .title-card, .generator, .wordlist, .passquest {
        width: 100%;
    }
    .section-option {
        position: relative;
    }
    .title-card .align {
        width: 100%;
    }
    #section-name {
        width: 100%;
        text-align: center;
    }
    #close-section {
        position: absolute;
        z-index: 1;
    }

    .cards-box {
        width: 100%;
        align-items: center;
    }
    .card {
        max-height: fit-content;
        flex-wrap: wrap;
    }
    .card .img {
        width: 100%;
        height: auto;
    }
    .card-data {
        width: 100%;
    }

    .check-box {
        width: 206px;
    }

    /* Team Media */
    .team {
        justify-content: center;
        padding: 20px;
    }
    .team .box {
        max-width: 300px;
        min-width: 300px;
        flex-direction: column;
        align-items: center;
    }
    .team .box .img {
        width: 220px;
        height: 220px;
    }
    .team hr {
        width: 100%;
    }
    .team .box .align-2 {
        font-size: 30px;
    }
    #temrevil, #eslam {
        top: 0;
    }
}
@media (max-width: 480px) {
    .title {
        font-size: 62px;
    }
    .align {
        font-size: 22px;
    }

    .box {
        width: 100%;
    }

    nav .links {
        display: none;
    }
    nav .img {
        margin-right: 0px;
    }
    #nav-collapse-box .links {
        display: block;
    }
    #nav-collapse {
        display: flex;
    }

    .title-card {
        padding: 15px;
    }

    .cards-box {
        padding: 10px;
    }
    .card-data {
        padding: 10px;
    }
    .check-box {
        width: 140px;
        height: 130px;
        font-size: 26px;
    }
    .btn-2 {
        padding: 10px;
        font-size: 18px;
    }
}
/* -------------------------------------------------- */
/* Keyfarmes */
@keyframes LD-Mode {
    0% {
        rotate: 360deg;
        scale: 0;
    }
    50% {
        rotate: 0deg;
        scale: 1.3;
    }
    100% {
        scale: 1;
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes get-in {
    from {
        opacity: 0;
        margin-top: 100px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}